# Introduction to Deep Learning & Neural Networks with Keras Course Project
created by: Lena Horsley

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Part D. Increase the number of hidden layers 

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

In [1]:
import pandas as pd
import numpy as np

### Let's look at the data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split the data 
Step 1. Create the target and predictor sets

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols_norm = predictors_norm.shape[1] # number of predictors
n_cols_norm

8

Step 2. Using sklearn.model_selection, split the data into training and test sets

In [11]:
from sklearn.model_selection import train_test_split

X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)

### Build the model

In [12]:
# Importing keras directly didn't work, so I had to do it in a different way.
# Check out the following link:
# https://www.tensorflow.org/guide/keras/sequential_model
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# define regression model
def regression_model_hidden():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols_norm,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train the model

In [13]:
model_hidden = regression_model_hidden()
# fit the model
model_hidden.fit(X_train_norm, y_train_norm, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 2s 10ms/step - loss: 1512.0197
Epoch 2/50
23/23 [==============================] - 0s 8ms/step - loss: 1440.9970
Epoch 3/50
23/23 [==============================] - 0s 11ms/step - loss: 1505.6118
Epoch 4/50
23/23 [==============================] - 0s 10ms/step - loss: 1439.8868
Epoch 5/50
23/23 [==============================] - 0s 11ms/step - loss: 1369.4596
Epoch 6/50
23/23 [==============================] - 0s 8ms/step - loss: 1314.3658
Epoch 7/50
23/23 [==============================] - 0s 9ms/step - loss: 1205.6919
Epoch 8/50
23/23 [==============================] - 0s 9ms/step - loss: 1025.2050
Epoch 9/50
23/23 [==============================] - 0s 9ms/step - loss: 830.4541
Epoch 10/50
23/23 [==============================] - 0s 8ms/step - loss: 672.4347
Epoch 11/50
23/23 [==============================] - 0s 7ms/step - loss: 444.7205
Epoch 12/50
23/23 [==============================] - 0s 8ms/step - loss: 301.0672
Epoch 13/50
23/23 [==============================] - 0s 7ms/step - loss: 237.1047
Epoch 14/50
23/23 [==============================] - ETA: 0s - loss: 222.920 - 0s 9ms/step - loss: 221.6191
Epoch 15/50
23/23 [==============================] - 0s 11ms/step - loss: 219.3290: 0s - loss: 242.
Epoch 16/50
23/23 [==============================] - 0s 10ms/step - loss: 188.7480
Epoch 17/50
23/23 [==============================] - 0s 10ms/step - loss: 189.8312
Epoch 18/50
23/23 [==============================] - 0s 10ms/step - loss: 184.7545
Epoch 19/50
23/23 [==============================] - 0s 10ms/step - loss: 162.4556
Epoch 20/50
23/23 [==============================] - 0s 10ms/step - loss: 184.1040
Epoch 21/50
23/23 [==============================] - 0s 10ms/step - loss: 170.4741
Epoch 22/50
23/23 [==============================] - 0s 11ms/step - loss: 171.3382
Epoch 23/50
23/23 [==============================] - 0s 10ms/step - loss: 157.8136
Epoch 24/50
23/23 [==============================] - 0s 10ms/step - loss: 155.9118
Epoch 25/50
23/23 [==============================] - 0s 12ms/step - loss: 152.0315
Epoch 26/50
23/23 [==============================] - 0s 12ms/step - loss: 160.4902
Epoch 27/50
23/23 [==============================] - 0s 8ms/step - loss: 159.8928
Epoch 28/50
23/23 [==============================] - 0s 7ms/step - loss: 153.3891
Epoch 29/50
23/23 [==============================] - 0s 7ms/step - loss: 156.1438
Epoch 30/50
23/23 [==============================] - 0s 9ms/step - loss: 149.4063
Epoch 31/50
23/23 [==============================] - 0s 9ms/step - loss: 149.1917
Epoch 32/50
23/23 [==============================] - 0s 10ms/step - loss: 138.1317
Epoch 33/50
23/23 [==============================] - 0s 9ms/step - loss: 152.1808
Epoch 34/50
23/23 [==============================] - 0s 12ms/step - loss: 141.4059
Epoch 35/50
23/23 [==============================] - 0s 10ms/step - loss: 137.4755
Epoch 36/50
23/23 [==============================] - 0s 12ms/step - loss: 134.0367
Epoch 37/50
23/23 [==============================] - 0s 7ms/step - loss: 143.3061
Epoch 38/50
23/23 [==============================] - 0s 9ms/step - loss: 139.3393
Epoch 39/50
23/23 [==============================] - ETA: 0s - loss: 144.918 - 0s 12ms/step - loss: 144.1838
Epoch 40/50
23/23 [==============================] - 0s 10ms/step - loss: 135.5300
Epoch 41/50
23/23 [==============================] - 0s 8ms/step - loss: 135.8923
Epoch 42/50
23/23 [==============================] - 0s 8ms/step - loss: 127.8369
Epoch 43/50
23/23 [==============================] - 0s 9ms/step - loss: 131.4948
Epoch 44/50
23/23 [==============================] - 0s 7ms/step - loss: 130.9601
Epoch 45/50
23/23 [==============================] - 0s 7ms/step - loss: 126.1829
Epoch 46/50
23/23 [==============================] - 0s 7ms/step - loss: 129.5002
Epoch 47/50
23/23 [==============================] - 0s 7ms/step - loss: 128.1654
Epoch 48/50
23/23 [==============================] - 0s 8ms/step - loss: 123.9509
Epoch 49/50
23/23 [==============================] - 0s 8ms/step - loss: 130.5726
Epoch 50/50
23/23 [==============================] - 0s 7ms/step - loss: 119.4143

### Evaluate the model

In [14]:
test_value = model_hidden.evaluate(X_test_norm, y_test_norm, verbose=0)
y_pred = model_hidden.predict(X_test_norm)
print("test value: " + str(test_value))

test value: 150.89129638671875

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test_norm, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)

print("mean: " + str(mean))
print("mean_square_error: " + str(mean_square_error))
print("standard_deviation: "+ str(standard_deviation))

mean: 150.89129150061248
mean_square_error: 150.89129150061248
standard_deviation: 0.0

### Create a list of 50 mean squared errors

In [16]:
total_mean_squared_errors_hidden = 50
epochs_hidden = 50
mean_squared_errors_hidden = []
for i in range(total_mean_squared_errors_hidden):
    X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)
    model_hidden.fit(X_train_norm, y_train_norm, epochs=epochs_hidden, verbose=0)
    y_pred_norm = model_hidden.predict(X_test_norm)
    mean_square_error_hidden = mean_squared_error(y_test_norm, y_pred_norm)
    print("Mean Square Error #" + str(i + 1) + ": " + str(mean_square_error_hidden))
    
    mean_squared_errors_hidden.append(mean_square_error_hidden)

Mean Square Error #1: 97.9536818170841
Mean Square Error #2: 72.16408471553761
Mean Square Error #3: 57.94955554044319
Mean Square Error #4: 52.2010380617282
Mean Square Error #5: 50.305348549956285
Mean Square Error #6: 47.77953486046957
Mean Square Error #7: 46.34932784762005
Mean Square Error #8: 45.38741489199468
Mean Square Error #9: 42.41272208265789
Mean Square Error #10: 41.17377664646306
Mean Square Error #11: 40.037555659045594
Mean Square Error #12: 38.703231877484136
Mean Square Error #13: 36.49139546026416
Mean Square Error #14: 35.79396509536134
Mean Square Error #15: 35.995932719046365
Mean Square Error #16: 34.99619042152367
Mean Square Error #17: 34.04440167364279
Mean Square Error #18: 34.33496202312563
Mean Square Error #19: 33.708399688952355
Mean Square Error #20: 33.87563632632625
Mean Square Error #21: 32.05971719190791
Mean Square Error #22: 32.46312440001733
Mean Square Error #23: 33.60982719935354
Mean Square Error #24: 32.567493164007026
Mean Square Error #25: 33.2828925135313
Mean Square Error #26: 32.98360819794069
Mean Square Error #27: 32.714551796337105
Mean Square Error #28: 33.54774788764217
Mean Square Error #29: 33.45007983026127
Mean Square Error #30: 33.5437547939897
Mean Square Error #31: 33.62437551787704
Mean Square Error #32: 33.44617740030759
Mean Square Error #33: 34.78742770386193
Mean Square Error #34: 35.04771028368297
Mean Square Error #35: 34.40353063730978
Mean Square Error #36: 33.90675580044719
Mean Square Error #37: 33.997568628870866
Mean Square Error #38: 33.47615172736729
Mean Square Error #39: 34.47281392974216
Mean Square Error #40: 33.737190631116015
Mean Square Error #41: 34.49449624099061
Mean Square Error #42: 33.944468166820855
Mean Square Error #43: 33.78928746128815
Mean Square Error #44: 34.708628980435144
Mean Square Error #45: 33.73022249827011
Mean Square Error #46: 34.13071701439416
Mean Square Error #47: 33.79797845757839
Mean Square Error #48: 33.875132312152395
Mean Square Error #49: 34.25570989184538
Mean Square Error #50: 34.69995661840398

### Mean and Standard Deviation

In [17]:
mean_squared_errors_hidden = np.array(mean_squared_errors_hidden)
mean_hidden = np.mean(mean_squared_errors_hidden)
standard_deviation_hidden = np.std(mean_squared_errors_hidden)

print("epochs per training: " + str(epochs_hidden))
print("Mean: " + str(mean_hidden))
print("Standard Deviation: "+str(standard_deviation_hidden))

epochs per training: 50
Mean: 38.484145056729545
Standard Deviation: 11.310209803506595

### Discussion
Increasing the number of layers will increase the training time. The training time in Part D increased when compared to Part B.

### References
- [The Sequential model](https://www.tensorflow.org/guide/keras/sequential_model)
- [Splitting Datasets With the Sklearn train_test_split Function](https://www.bitdegree.org/learn/train-test-split)
- [Why random_state in train_test_split is equal 42](https://www.researchgate.net/post/Why_random_state_in_train_test_split_is_equal_42)
- [Python | Mean Squared Error](https://www.geeksforgeeks.org/python-mean-squared-error/)