# Introduction to Deep Learning & Neural Networks with Keras Course Project
created by Lena Horsley

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Part B. Normalize the data 

Repeat Part A but use a normalized version of the data. 
Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [1]:
import pandas as pd
import numpy as np

### Let's look at the data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split the data 
Step 1. Create the target and predictor sets

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols_norm = predictors_norm.shape[1] # number of predictors
n_cols_norm

8

Step 2. Using sklearn.model_selection, split the data into training and test sets

In [11]:
from sklearn.model_selection import train_test_split

X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)

### Build the model

In [12]:
# Importing keras directly didn't work, so I had to do it in a different way.
# Check out the following link:
# https://www.tensorflow.org/guide/keras/sequential_model
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols_norm,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train the model

In [13]:
model_norm = regression_model()
# fit the model
model_norm.fit(X_train_norm, y_train_norm, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 3ms/step - loss: 1525.8371
Epoch 2/50
23/23 [==============================] - 0s 4ms/step - loss: 1378.7405
Epoch 3/50
23/23 [==============================] - 0s 5ms/step - loss: 1451.6311
Epoch 4/50
23/23 [==============================] - 0s 6ms/step - loss: 1508.1736
Epoch 5/50
23/23 [==============================] - 0s 6ms/step - loss: 1435.3860
Epoch 6/50
23/23 [==============================] - 0s 7ms/step - loss: 1363.2090
Epoch 7/50
23/23 [==============================] - 0s 6ms/step - loss: 1393.2393
Epoch 8/50
23/23 [==============================] - 0s 7ms/step - loss: 1368.5081
Epoch 9/50
23/23 [==============================] - 0s 7ms/step - loss: 1386.4287
Epoch 10/50
23/23 [==============================] - 0s 5ms/step - loss: 1331.9981
Epoch 11/50
23/23 [==============================] - 0s 4ms/step - loss: 1256.2551
Epoch 12/50
23/23 [==============================] - 0s 6ms/step - loss: 1274.7493
Epoch 13/50
23/23 [==============================] - 0s 5ms/step - loss: 1274.6574
Epoch 14/50
23/23 [==============================] - 0s 7ms/step - loss: 1237.4349
Epoch 15/50
23/23 [==============================] - 0s 7ms/step - loss: 1220.1519
Epoch 16/50
23/23 [==============================] - 0s 5ms/step - loss: 1138.5021
Epoch 17/50
23/23 [==============================] - 0s 7ms/step - loss: 1165.0986
Epoch 18/50
23/23 [==============================] - 0s 8ms/step - loss: 1081.8994
Epoch 19/50
23/23 [==============================] - 0s 6ms/step - loss: 1104.5852
Epoch 20/50
23/23 [==============================] - 0s 7ms/step - loss: 1000.9486
Epoch 21/50
23/23 [==============================] - 0s 7ms/step - loss: 988.9858
Epoch 22/50
23/23 [==============================] - 0s 7ms/step - loss: 1001.3183
Epoch 23/50
23/23 [==============================] - 0s 7ms/step - loss: 924.4001
Epoch 24/50
23/23 [==============================] - 0s 7ms/step - loss: 874.3883
Epoch 25/50
23/23 [==============================] - 0s 7ms/step - loss: 884.4687
Epoch 26/50
23/23 [==============================] - 0s 9ms/step - loss: 856.1008
Epoch 27/50
23/23 [==============================] - 0s 7ms/step - loss: 760.1750
Epoch 28/50
23/23 [==============================] - 0s 7ms/step - loss: 745.9508
Epoch 29/50
23/23 [==============================] - 0s 6ms/step - loss: 742.1732
Epoch 30/50
23/23 [==============================] - 0s 4ms/step - loss: 675.9277
Epoch 31/50
23/23 [==============================] - 0s 6ms/step - loss: 665.1845
Epoch 32/50
23/23 [==============================] - 0s 5ms/step - loss: 601.0365
Epoch 33/50
23/23 [==============================] - 0s 5ms/step - loss: 632.7198
Epoch 34/50
23/23 [==============================] - 0s 4ms/step - loss: 556.4065
Epoch 35/50
23/23 [==============================] - 0s 5ms/step - loss: 537.7489
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 525.5811
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 496.4672
Epoch 38/50
23/23 [==============================] - 0s 4ms/step - loss: 452.0963
Epoch 39/50
23/23 [==============================] - 0s 5ms/step - loss: 466.2882
Epoch 40/50
23/23 [==============================] - 0s 5ms/step - loss: 439.8004
Epoch 41/50
23/23 [==============================] - 0s 5ms/step - loss: 424.5358
Epoch 42/50
23/23 [==============================] - 0s 6ms/step - loss: 392.0059
Epoch 43/50
23/23 [==============================] - 0s 6ms/step - loss: 367.3152
Epoch 44/50
23/23 [==============================] - 0s 8ms/step - loss: 372.9508
Epoch 45/50
23/23 [==============================] - 0s 6ms/step - loss: 338.6522
Epoch 46/50
23/23 [==============================] - 0s 6ms/step - loss: 333.2182
Epoch 47/50
23/23 [==============================] - 0s 8ms/step - loss: 316.9073
Epoch 48/50
23/23 [==============================] - 0s 5ms/step - loss: 315.3552
Epoch 49/50
23/23 [==============================] - 0s 6ms/step - loss: 294.7779
Epoch 50/50
23/23 [==============================] - 0s 7ms/step - loss: 289.8074

### Evaluate the model

In [14]:
test_value = model_norm.evaluate(X_test_norm, y_test_norm, verbose=0)
y_pred = model_norm.predict(X_test_norm)
print("test value: " + str(test_value))

test value: 326.0127868652344

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test_norm, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)

print("mean: " + str(mean))
print("mean_square_error: " + str(mean_square_error))
print("standard_deviation: "+ str(standard_deviation))

mean: 326.0127799930269
mean_square_error: 326.0127799930269
standard_deviation: 0.0

### Create a list of 50 mean squared errors

In [16]:
total_mean_squared_errors_norm = 50
epochs_norm = 50
mean_squared_errors_norm = []
for i in range(total_mean_squared_errors_norm):
    X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)
    model_norm.fit(X_train_norm, y_train_norm, epochs=epochs_norm, verbose=0)
    y_pred_norm = model_norm.predict(X_test_norm)
    mean_square_error_norm = mean_squared_error(y_test_norm, y_pred_norm)
    print("Mean Square Error #" + str(i + 1) + ": " + str(mean_square_error_norm))
    
    mean_squared_errors_norm.append(mean_square_error_norm)

Mean Square Error #1: 189.94990250663855
Mean Square Error #2: 149.85864396533793
Mean Square Error #3: 105.35208744305633
Mean Square Error #4: 77.91850915540748
Mean Square Error #5: 64.26369742847044
Mean Square Error #6: 57.39356287882025
Mean Square Error #7: 53.72893588160795
Mean Square Error #8: 51.74967153894234
Mean Square Error #9: 50.448611298995104
Mean Square Error #10: 49.691231183009876
Mean Square Error #11: 49.074678526710514
Mean Square Error #12: 48.31351909872083
Mean Square Error #13: 47.91717063642985
Mean Square Error #14: 47.25746937622464
Mean Square Error #15: 46.95845913014506
Mean Square Error #16: 46.82394492709461
Mean Square Error #17: 46.52971300870531
Mean Square Error #18: 46.5364329883702
Mean Square Error #19: 46.22047466785192
Mean Square Error #20: 46.10935936993016
Mean Square Error #21: 46.054180176901404
Mean Square Error #22: 45.60133948086615
Mean Square Error #23: 45.103794283940054
Mean Square Error #24: 44.68559284095342
Mean Square Error #25: 44.42763309389603
Mean Square Error #26: 44.27179617614236
Mean Square Error #27: 44.26925989739428
Mean Square Error #28: 44.15493687273225
Mean Square Error #29: 43.91600532577088
Mean Square Error #30: 43.9186663775271
Mean Square Error #31: 43.6354405323064
Mean Square Error #32: 43.82926366614573
Mean Square Error #33: 43.668255206092965
Mean Square Error #34: 43.417778709967266
Mean Square Error #35: 43.32651441894567
Mean Square Error #36: 43.42144507493765
Mean Square Error #37: 43.55677102032034
Mean Square Error #38: 43.17017483188981
Mean Square Error #39: 43.2090043353685
Mean Square Error #40: 43.137031163206835
Mean Square Error #41: 43.15892696371685
Mean Square Error #42: 42.72659458844809
Mean Square Error #43: 42.5192469629024
Mean Square Error #44: 42.33493099401366
Mean Square Error #45: 42.145365746124284
Mean Square Error #46: 42.05906672004057
Mean Square Error #47: 42.27227193686011
Mean Square Error #48: 41.87366268288733
Mean Square Error #49: 41.814269815019095
Mean Square Error #50: 41.7320936809539

### Mean and Standard Deviation

In [17]:
mean_squared_errors_norm = np.array(mean_squared_errors_norm)
mean_norm = np.mean(mean_squared_errors_norm)
standard_deviation_norm = np.std(mean_squared_errors_norm)

print("epochs per training: " + str(epochs_norm))
print("Mean: " + str(mean_norm))
print("Standard Deviation: " + str(standard_deviation_norm))

epochs per training: 50
Mean: 52.51014777173482
Standard Deviation: 26.37165345758153

### Discussion
Normalizing the data should speed up learning. Less time was required for learning in Part B when compared to Part A.

### References
- [The Sequential model](https://www.tensorflow.org/guide/keras/sequential_model)
- [Splitting Datasets With the Sklearn train_test_split Function](https://www.bitdegree.org/learn/train-test-split)
- [Why random_state in train_test_split is equal 42](https://www.researchgate.net/post/Why_random_state_in_train_test_split_is_equal_42)
- [Python | Mean Squared Error](https://www.geeksforgeeks.org/python-mean-squared-error/)