# Introduction to Deep Learning & Neural Networks with Keras Course Project
created by Lena Horsley

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Part A. Build a baseline model
Use the Keras library to build a neural network with the following:

   - One hidden layer of 10 nodes, and a ReLU activation function

   - Use the adam optimizer and the mean squared error as the loss function.

   - Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

   - Train the model on the training data using 50 epochs.

   - Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

   - Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

   - Report the mean and the standard deviation of the mean squared errors.

In [1]:
import pandas as pd
import numpy as np

### Let's look at the data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split the data 
Step 1. Create the target and predictor sets

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

Step 2. Using sklearn.model_selection, split the data into training and test sets

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=101)

### Build the model

In [11]:
# Importing keras directly didn't work, so I had to do it in a different way.
# Check out the following link:
# https://www.tensorflow.org/guide/keras/sequential_model
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train the model

In [12]:
# build the model
model = regression_model()
# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 114908.7581
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 70557.1411
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 37701.2096
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 16069.1465
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 5624.8781
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 1543.4056
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 1034.5928
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 950.5338
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 949.7110
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 796.0549
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 711.8896
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 685.2972
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 670.3704
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 579.4283
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 559.5155
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 502.0576
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 468.6598
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 424.4895
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 406.0691
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 383.6826
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 355.0584
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 315.1282
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 295.2618
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 239.9025
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 232.8406
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 210.6600
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 205.7860
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 188.0554
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 201.8068
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 201.2919
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 162.0395
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 180.1901
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 156.9434
Epoch 34/50
23/23 [==============================] - 0s 3ms/step - loss: 150.2233
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 140.0019
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 131.1473
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 150.2208
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 123.2559
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 134.5729
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 133.2812
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 127.3466
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 118.0806
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 129.3046
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 118.4407
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 126.7648
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 115.5894
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 126.8695
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 115.9210
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 112.0262
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 109.8680

### Evaluate the model

In [13]:
test_value = model.evaluate(X_test, y_test, verbose=0)
y_pred = model.predict(X_test)
print("test value: " + str(test_value))

test value: 135.30369567871094

In [14]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)

print("mean: " + str(mean))
print("mean_square_error: " + str(mean_square_error))
print("standard_deviation: "+ str(standard_deviation))

mean: 135.30369216507816
mean_square_error: 135.30369216507816
standard_deviation: 0.0

### Create a list of 50 mean squared errors

In [15]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=101)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("Mean Square Error #" + str(i + 1) + ": " + str(mean_square_error))
    mean_squared_errors.append(mean_square_error)

Mean Square Error #1: 127.24434828923881
Mean Square Error #2: 126.33928159763717
Mean Square Error #3: 119.22068206852894
Mean Square Error #4: 124.12657240327819
Mean Square Error #5: 121.16983531593688
Mean Square Error #6: 121.52525111131197
Mean Square Error #7: 119.0698979873283
Mean Square Error #8: 117.24849512444113
Mean Square Error #9: 118.63480229405803
Mean Square Error #10: 118.27480880636496
Mean Square Error #11: 117.78327493146655
Mean Square Error #12: 122.74618728303854
Mean Square Error #13: 124.39966338074109
Mean Square Error #14: 118.99051325611298
Mean Square Error #15: 120.90380263258166
Mean Square Error #16: 123.61072053923867
Mean Square Error #17: 117.80685092768961
Mean Square Error #18: 120.17888638153391
Mean Square Error #19: 119.72368907830402
Mean Square Error #20: 117.53753280146933
Mean Square Error #21: 118.4521106392789
Mean Square Error #22: 121.69686168439158
Mean Square Error #23: 118.76647943616246
Mean Square Error #24: 117.16944797312128
Mean Square Error #25: 122.15919886762705
Mean Square Error #26: 80.40432283038409
Mean Square Error #27: 71.2649366888122
Mean Square Error #28: 69.208907762628
Mean Square Error #29: 70.77451342322338
Mean Square Error #30: 71.30216564546527
Mean Square Error #31: 70.33675982774135
Mean Square Error #32: 72.50649515768544
Mean Square Error #33: 68.43412635031119
Mean Square Error #34: 68.64875411943588
Mean Square Error #35: 71.60108230550715
Mean Square Error #36: 66.77195007457321
Mean Square Error #37: 66.68462047310652
Mean Square Error #38: 68.95253300175062
Mean Square Error #39: 67.85179950708289
Mean Square Error #40: 70.23342857671712
Mean Square Error #41: 67.54404348821285
Mean Square Error #42: 67.25065608245303
Mean Square Error #43: 66.93957109971525
Mean Square Error #44: 67.23169160871626
Mean Square Error #45: 66.96201664090115
Mean Square Error #46: 69.28076325653873
Mean Square Error #47: 71.7679453762191
Mean Square Error #48: 67.36136268194204
Mean Square Error #49: 66.95888973302633
Mean Square Error #50: 67.7354809402795

### Mean and Standard Deviation

In [16]:
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("epochs per training: " + str(epochs))
print("Mean: "+ str(mean))
print("Standard Deviation: "+ str(standard_deviation))

epochs per training: 50
Mean: 94.9757602292662
Standard Deviation: 25.772435105191807

### References
- [The Sequential model](https://www.tensorflow.org/guide/keras/sequential_model)
- [Splitting Datasets With the Sklearn train_test_split Function](https://www.bitdegree.org/learn/train-test-split)
- [Why random_state in train_test_split is equal 42](https://www.researchgate.net/post/Why_random_state_in_train_test_split_is_equal_42)
- [Python | Mean Squared Error](https://www.geeksforgeeks.org/python-mean-squared-error/)