# Introduction to Deep Learning & Neural Networks with Keras Course Project
created by Lena Horsley

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Part C. Increase the number of epochs 

Repeat Part B but use 100 epochs this time for training.

In [1]:
import pandas as pd
import numpy as np

### Let's look at the data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split the data 
Step 1. Create the target and predictor sets

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols_norm = predictors_norm.shape[1] # number of predictors
n_cols_norm

8

Step 2. Using sklearn.model_selection, split the data into training and test sets

In [11]:
from sklearn.model_selection import train_test_split

X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)

### Build the model

In [12]:
# Importing keras directly didn't work, so I had to do it in a different way.
# Check out the following link:
# https://www.tensorflow.org/guide/keras/sequential_model
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols_norm,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train the model

In [13]:
model_norm = regression_model()
# fit the model
model_norm.fit(X_train_norm, y_train_norm, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 6ms/step - loss: 1589.5701
Epoch 2/50
23/23 [==============================] - 0s 6ms/step - loss: 1513.1745
Epoch 3/50
23/23 [==============================] - 0s 6ms/step - loss: 1534.6821
Epoch 4/50
23/23 [==============================] - 0s 10ms/step - loss: 1460.5971
Epoch 5/50
23/23 [==============================] - 0s 5ms/step - loss: 1421.9681
Epoch 6/50
23/23 [==============================] - 0s 7ms/step - loss: 1407.8980
Epoch 7/50
23/23 [==============================] - 0s 6ms/step - loss: 1428.6672
Epoch 8/50
23/23 [==============================] - 0s 7ms/step - loss: 1422.0906
Epoch 9/50
23/23 [==============================] - 0s 7ms/step - loss: 1428.3819
Epoch 10/50
23/23 [==============================] - 0s 10ms/step - loss: 1397.8140
Epoch 11/50
23/23 [==============================] - 0s 7ms/step - loss: 1364.1613
Epoch 12/50
23/23 [==============================] - 0s 9ms/step - loss: 1326.8871
Epoch 13/50
23/23 [==============================] - 0s 7ms/step - loss: 1299.4014
Epoch 14/50
23/23 [==============================] - 0s 6ms/step - loss: 1342.4240
Epoch 15/50
23/23 [==============================] - 0s 8ms/step - loss: 1233.9557
Epoch 16/50
23/23 [==============================] - 0s 7ms/step - loss: 1239.8141
Epoch 17/50
23/23 [==============================] - 0s 9ms/step - loss: 1257.3001
Epoch 18/50
23/23 [==============================] - 0s 8ms/step - loss: 1176.7895
Epoch 19/50
23/23 [==============================] - 0s 5ms/step - loss: 1179.3610
Epoch 20/50
23/23 [==============================] - 0s 7ms/step - loss: 1078.0870
Epoch 21/50
23/23 [==============================] - 0s 7ms/step - loss: 1066.7285
Epoch 22/50
23/23 [==============================] - 0s 6ms/step - loss: 1051.1622
Epoch 23/50
23/23 [==============================] - 0s 9ms/step - loss: 1069.7518
Epoch 24/50
23/23 [==============================] - 0s 10ms/step - loss: 1025.3294 0s - loss: 103
Epoch 25/50
23/23 [==============================] - 0s 7ms/step - loss: 976.0583
Epoch 26/50
23/23 [==============================] - 0s 7ms/step - loss: 919.4781
Epoch 27/50
23/23 [==============================] - 0s 7ms/step - loss: 828.8939
Epoch 28/50
23/23 [==============================] - 0s 7ms/step - loss: 824.5979
Epoch 29/50
23/23 [==============================] - 0s 6ms/step - loss: 808.1646
Epoch 30/50
23/23 [==============================] - 0s 7ms/step - loss: 742.3804
Epoch 31/50
23/23 [==============================] - 0s 6ms/step - loss: 719.0173
Epoch 32/50
23/23 [==============================] - 0s 6ms/step - loss: 670.3523
Epoch 33/50
23/23 [==============================] - 0s 7ms/step - loss: 671.0610
Epoch 34/50
23/23 [==============================] - 0s 8ms/step - loss: 653.0000
Epoch 35/50
23/23 [==============================] - 0s 7ms/step - loss: 607.6038
Epoch 36/50
23/23 [==============================] - 0s 7ms/step - loss: 566.7533
Epoch 37/50
23/23 [==============================] - 0s 7ms/step - loss: 549.2945
Epoch 38/50
23/23 [==============================] - 0s 6ms/step - loss: 511.2981
Epoch 39/50
23/23 [==============================] - 0s 7ms/step - loss: 457.0916
Epoch 40/50
23/23 [==============================] - 0s 5ms/step - loss: 474.9292
Epoch 41/50
23/23 [==============================] - 0s 7ms/step - loss: 433.2407
Epoch 42/50
23/23 [==============================] - 0s 7ms/step - loss: 406.6535
Epoch 43/50
23/23 [==============================] - 0s 7ms/step - loss: 388.5977
Epoch 44/50
23/23 [==============================] - 0s 6ms/step - loss: 410.1581
Epoch 45/50
23/23 [==============================] - 0s 9ms/step - loss: 365.1357
Epoch 46/50
23/23 [==============================] - 0s 9ms/step - loss: 378.6195
Epoch 47/50
23/23 [==============================] - 0s 10ms/step - loss: 309.9509
Epoch 48/50
23/23 [==============================] - 0s 9ms/step - loss: 327.3869
Epoch 49/50
23/23 [==============================] - 0s 7ms/step - loss: 275.7944
Epoch 50/50
23/23 [==============================] - 0s 7ms/step - loss: 258.8781

### Evaluate the model

In [14]:
test_value = model_norm.evaluate(X_test_norm, y_test_norm, verbose=0)
y_pred = model_norm.predict(X_test_norm)
print("test value: " + str(test_value))

test value: 353.83056640625

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test_norm, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)

print("mean: " + str(mean))
print("mean_square_error: " + str(mean_square_error))
print("standard_deviation: "+ str(standard_deviation))

mean: 353.83059401827757
mean_square_error: 353.83059401827757
standard_deviation: 0.0

### Create a list of 50 mean squared errors

In [16]:
total_mean_squared_errors_norm_epochs_large = 50
epochs_large = 100
mean_squared_errors_norm_epochs_large = []
for i in range(total_mean_squared_errors_norm_epochs_large):
    X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=101)
    model_norm.fit(X_train_norm, y_train_norm, epochs=epochs_large, verbose=0)
    y_pred_norm = model_norm.predict(X_test_norm)
    mean_square_error_norm_epochs_large = mean_squared_error(y_test_norm, y_pred_norm)
    print("Mean Square Error #" + str(i+1) + ": " + str(mean_square_error_norm_epochs_large))
    
    mean_squared_errors_norm_epochs_large.append(mean_square_error_norm_epochs_large)

Mean Square Error #1: 124.72424755131368
Mean Square Error #2: 88.03380829420415
Mean Square Error #3: 78.99350044099047
Mean Square Error #4: 73.57085905496223
Mean Square Error #5: 52.84755323211245
Mean Square Error #6: 44.52493978715135
Mean Square Error #7: 42.13120985981707
Mean Square Error #8: 41.23614799117803
Mean Square Error #9: 40.972500152910484
Mean Square Error #10: 40.82867109512698
Mean Square Error #11: 40.683434239698286
Mean Square Error #12: 40.58464158943507
Mean Square Error #13: 40.27490343431841
Mean Square Error #14: 40.41844729964414
Mean Square Error #15: 40.35298785882243
Mean Square Error #16: 40.176282833412024
Mean Square Error #17: 39.78067897206421
Mean Square Error #18: 39.8938659698712
Mean Square Error #19: 39.710953423240625
Mean Square Error #20: 39.5475229961758
Mean Square Error #21: 39.551154705634545
Mean Square Error #22: 39.58599186652963
Mean Square Error #23: 39.593792862093494
Mean Square Error #24: 39.606243183195886
Mean Square Error #25: 39.56915236193301
Mean Square Error #26: 39.555578082403365
Mean Square Error #27: 39.65524757978751
Mean Square Error #28: 39.56011110601554
Mean Square Error #29: 39.62074960884511
Mean Square Error #30: 39.660897486017696
Mean Square Error #31: 39.62631174162628
Mean Square Error #32: 39.51748461663022
Mean Square Error #33: 39.68985529091201
Mean Square Error #34: 39.66800154875717
Mean Square Error #35: 39.65353902723162
Mean Square Error #36: 39.59253301268344
Mean Square Error #37: 39.82810235224603
Mean Square Error #38: 39.67355511565313
Mean Square Error #39: 39.440733835567436
Mean Square Error #40: 39.206346570837894
Mean Square Error #41: 39.27405020786919
Mean Square Error #42: 39.201730132876264
Mean Square Error #43: 39.1146677854059
Mean Square Error #44: 38.987293626447084
Mean Square Error #45: 39.00087772876712
Mean Square Error #46: 38.971752627596715
Mean Square Error #47: 39.01403756384958
Mean Square Error #48: 38.96523712201555
Mean Square Error #49: 38.84991349013378
Mean Square Error #50: 38.87439691094336

### Mean and Standard Deviation

In [17]:
mean_squared_errors_norm_epochs_large = np.array(mean_squared_errors_norm_epochs_large)
mean_norm_epochs_large = np.mean(mean_squared_errors_norm_epochs_large)
standard_deviation_norm_epochs_large = np.std(mean_squared_errors_norm_epochs_large)

print("epochs per training: " + str(epochs_large))
print("Mean: " + str(mean_norm_epochs_large))
print("Standard Deviation: " + str(standard_deviation_norm_epochs_large))

epochs per training: 100
Mean: 44.227929904539096
Standard Deviation: 15.130911250554561

### Discussion
Increasing the number of epochs tends to increase the accuracy. However, increasing the number of epochs can result in overfitting. The standard deviation for Part C is less than the standard deviations calculated for Parts A and B.

### References
- [The Sequential model](https://www.tensorflow.org/guide/keras/sequential_model)
- [Splitting Datasets With the Sklearn train_test_split Function](https://www.bitdegree.org/learn/train-test-split)
- [Why random_state in train_test_split is equal 42](https://www.researchgate.net/post/Why_random_state_in_train_test_split_is_equal_42)
- [Python | Mean Squared Error](https://www.geeksforgeeks.org/python-mean-squared-error/)